@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    padding: 5px 0px 5px 5px;
    background-image: url("./Components/images/bg_whole.jpeg");
    object-fit: fill;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
*{margin: 0;padding: 0;
    justify-content: center;
    align-items: center;
}